<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detección</title>
</head>
<body>
    <h1>Flask App - Procesar</h1>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <form action="/procesar" id="formulario" method="post" enctype="multipart/form-data">
        <label for="imagen">Seleccionar imagen:</label>
        <input type="file" class="form-control" name="imagen" id="input-imagen" accept="image/*" required onchange="previsualizarImagen()">
        <br>
        <button type="submit">Procesar</button>
    </form>

    <div id="previsualizacion"></div>

    {% if filename %}
        <img id="imagen" src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Imagen cargada" style="width: 300px; height: auto;">
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function previsualizarImagen() {

            var miDiv = document.getElementById('imagen');

            // Verificar si la etiqueta existe antes de intentar eliminarla
            if (miDiv) {
                // Eliminar la etiqueta
                miDiv.remove();
            } else {
                console.log('La etiqueta no existe.');
            }

            const inputImagen = document.getElementById('input-imagen');
            const previsualizacion = document.getElementById('previsualizacion');

            // Limpiar la previsualización
            previsualizacion.innerHTML = '';

            // Validar que se haya seleccionado una imagen
            if (inputImagen.files && inputImagen.files[0]) {
                const lector = new FileReader();

                lector.onload = function (e) {
                    // Crear un elemento de imagen y establecer la fuente como la previsualización
                    const img = document.createElement('img');
                    img.src = e.target.result;

                    img.style.width = '300px';  // Puedes ajustar el valor según tus necesidades
                    img.style.height = 'auto';

                    // Añadir la imagen al contenedor de previsualización
                    previsualizacion.appendChild(img);
                };

                // Leer el archivo de imagen como URL de datos
                lector.readAsDataURL(inputImagen.files[0]);
            }
        }
    </script>


</body>
</html>
